.card1__par {
    text-align: center;
}
.card1__par-ending {
    margin-bottom: 5px;
}
.card1__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 130%;
    margin-bottom: 100px;
    padding-left: 112px;
}

.number {
    font-weight: 700;
    font-size: 60px;
    line-height: 130%;
}

.card2__p {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}

.card3__p {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    white-space: nowrap;
    margin-bottom: 14px;
}

.card10__p {
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
}

.blue__bord {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    background-color: #38C0EB;
    border-radius: 20px;
    padding: 24px 26px;
}

.card7__p {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin-top: auto;
    margin-bottom: auto;
}

.whitebord {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    background-color: #fff;
    color: #F91155;
    border-radius: 20px;
    max-width: 643px;
    text-align: center;
    padding: 30px 0;
}

.discount {
    background-color: #FFBD13;
    text-align: center;
    width: 88px;
    height: 88px;
    align-items: center;
    border-radius: 150%;
    line-height: 88px;
}

.discount-inline{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {

    .card1__par {
        font-size: 20px;
    }

    .card1__title {
        font-size: 40px;
        margin-bottom: 63px;
        padding-left: 80px;
    }

    .number {
        font-size: 40px;
    }

    .card2__p {
        font-size: 30px;
    }

    .card3__p {
        font-size: 24px;
        margin-bottom: 19px;
    }

    .card7__p {
        font-size: 30px;
    }
    .card10__p {
        font-size: 20px;
    }

    .blue__bord {
        font-size: 30px;
        padding: 25px 24px 27px 32px;
    }


    .whitebord {
        font-size: 30px;
        max-width: 513px;
        max-height: 83px;
        text-align: center;
        border-radius: 16px;
        padding: 24px 0;
    }
}

@media (max-width: 768px) {

    .card1__par {
        font-size: 16px;
    }

    .card1__title {
        font-size: 30px;
        margin-bottom: 82px;
        padding-left: 80px;
    }

    .number {
        font-size: 30px;
    }

    .card2__p {
        font-size: 26px;
    }

    .card3__p {
        font-size: 16px;
        margin-bottom: 19px;
    }

    .card7__p {
        font-size: 16px;
    }
    .card10__p {
        font-size: 16px;
    }

    .blue__bord {
        font-size: 16px;
        padding: 26px 12px 30px 20px;
    }


    .whitebord {
        font-size: 20px;
        max-width: 347px;
        max-height: 68px;
        text-align: center;
        border-radius: 12px;
        padding: 22px 0;
    }

    .discount {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
    }
}

@media (max-width: 320px) {
    .card1__par {
        font-size: 8px;
    }
    .card1__title {
        font-size: 22px;
        padding-left: 0px;
        margin: 0 auto 189px;
    }

    .number {
        font-size: 20px;
    }

    .card2__p {
        font-size: 16px;
    }

    .card3__p {
        font-size: 12px;
        margin-bottom: 31px;
    }

    .card7__p {
        font-size: 12px;
    }
    .card10__p {
        font-size: 12px;
    }

    .blue__bord {
        font-size: 12px;
        padding: 25px 7px 25px 11px;
    }


    .whitebord {
        font-size: 12px;
        max-width: 250px;
        max-height: 30px;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
    }
}

