.header {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    max-width: 1920px;
    justify-content: space-between;
    align-items: center;
    grid-template-areas:
            "logo menu search icons";
}

.header__logo {
    width: 100%;
    height: auto;
    min-width: 114px;
    max-width: 190px;
}

.header__button-menu {
    width: 151px;
    height: 54px;
    background-color: #3670C7;
    color: #EFEFEF;
    border-radius: 10px;
    border-style: none;
    background-repeat: no-repeat;
    grid-area: menu;
    position: relative;

}

.header__button-menu-text:before {
    position: absolute;
    left: 30px;
    bottom: 15px;
    content: url("./icons/sort.svg");
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .header__button-menu-text:before {
        left: 14px;
    }
}

@media (max-width: 375px) {

.header__button-menu-text:before {
    position: absolute;
    left: 7px;
    bottom: 10px;
    content: url("./icons/sort320.svg");
    width: 15px;
    height: 19px;
    }
}

@media (max-width: 320px) {
    .header__button-menu-text:before {
        left: 10px;
    }
    .header__button-menu-text {
        padding-left: 15px;
    }
}

.header__form {
    grid-area: search;
}

.header__search {
    max-width: 757px;
    height: 54px;
    background: #EFEFEF;
    border-radius: 30px;
    border-style: none;
    padding: 14px 20px 18px 40px;
}
.header__user-menu {

    gap: 30px;
    grid-area: icons;
}
.header__user-menu {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(1,40px)
}

.header__icon {
    height: 50px;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center top;
    font-size: 16px;
    line-height: 130%;
}

.header__icon:nth-child(1) {
    background-image: url(./icons/person.svg);
    background-size: 24px auto;
}

.header__icon:nth-child(2) {
    background-image: url(./icons/favorite.svg);
    background-size: 30px auto;
}

.header__icon:nth-child(3) {
    background-image: url(./icons/shopping_cart.svg);
    background-size: 30px 27px;
}

@media (max-width: 1500px) {

    .header {
        padding-top: 40px;
        grid-template-columns: repeat(4,auto);
        grid-template-areas:
            "logo logo . icons"
            "menu search search search";
    }

@media (max-width: 1024px){
    .header {
        padding-top: 40px;
        grid-template-columns: repeat(4,auto);
        grid-template-areas:
            "logo logo . icons"
            "menu search search search";
    }
}

@media (max-width: 768px) {

    .header {
        padding-top: 30px;
        gap: 29px 0;
    }

    .header__icon {
        font-size: 12px;
        line-height: 130%;
    }

    .header__button-menu {
        width: 115px;
        font-size: 16px;
    }

    .header__icon:nth-child(1) {
        background-size: 30px auto;
    }

    .header__icon:nth-child(2) {
        background-image: url(./icons/favorite.svg);
        background-size: 25px auto;
    }

    .header__icon:nth-child(3) {
        background-image: url(./icons/shopping_cart.svg);
        background-size: 25px 23px;
    }
}

@media (max-width: 375px) {

    .header {
        padding-top: 20px;
        grid-template-columns: repeat(2,auto);
        gap: 20px 0;
        grid-template-areas:
            "logo logo"
            "menu  icons"
            "search search ";
    }

    .header__search {
        width: 1fr;
    }

    .header__button-menu {
        width: 79px;
        font-size: 12px;
    }

    .header__user-menu {
        gap: 26px;
        width: 1fr;
        grid-area: icons;
    }

    .header__icon {
        width: 20px;
        background-position: center center;
    }

    .header__icon-text {
        display: none;
    }
    .header__button-menu {
        width: 79px;
        height: 30px;
    }
    .header__button-menu-text:before {
        bottom: 4px;
    }

    }
}