form {
    position: relative;
}
.header__search {

    width: 757px;
    height: 54px;
    background: #EFEFEF;
    border-radius: 30px;
    border-style: none;
    grid-area: search;
    padding: 14px 20px 18px 40px;
    outline: none;
}
.header__search-button {
    position: absolute;
    top: 0;
    right: 0px;
    width: 101px;
    height: 54px;
    border: none;
    background: #3670C7;
    border-radius: 30px;
    cursor: pointer;
}
button:before {
    content: "\f002";
    font-family: Lato;
    font-size: 16px;
    color: #F9F0DA;
}

@media (max-width: 1501px){
    .header__search {
        width: 100%;
    }
}
